#background-img {
    background-image: url("images/BMB.jpeg");
    color: gold;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 70vw;
}

body {
    margin: 0;
}

.remove-margin {
    margin: 0;
}

h1 {
    padding: 10vh 15vw 0 15vw;
    font-size: 80px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

#background-red {
    background-color: #BE3D3D;
    text-align: center;
    height: 92vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.gold-text {
    color: gold;
    margin: 0;
    padding-top: 10vh;
}

h2 {
    font-size: 48px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
}

h3 {
    font-size: 25px;
    font-style: italic;
}

#opening {
    display: flex;
    flex-direction: row;
}

#intro-para {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    align-items: center;
    padding: 5vh 3vw 0 3vw;
}

#motto {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    align-items: flex-end;
    margin: 0;
    padding: 5vh 3vw 5vh 3vw;
}

#navigation-bar {
    background-color: #676767;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 3vh 0 3vh 0;
}

.nav-tag {
    display: inline;
    border-right: 1px solid #bbb;
}

.nav-tag:last-child {
    border-right: none;
  }

.nav-tag a {
    text-decoration: none;
    color: white;
    padding: 0 4vw 0 4vw;
    font-size: 20px;
}

.nav-tag a:hover {
    color: gold;
  }

.nav-tag a:active {
    color: black;
  }

#about-BMB {
    background-color: #32312D;
}

.white-headings {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 5vh 0 2vh 2vw; 
}

.image-cap {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

#section-imgs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#section-imgs figure {
    padding: 2%;
    flex-grow: 2;
    flex-basis: 15%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.image {
    max-width: 100%;
}

#achievements {
    background-color: #32312D;
}

.white-text {
    color: white;
    font-size: 25px;
    padding: 2vh 0 3vh 0;
    line-height: 5vh;
}

#achievements-content {
    display: flex;
    width: 97%;
    flex-direction: row;
}

#achievements-imgs {
    display: flex;
    flex-direction: column;
}

#achievements-text {
    padding: 0 3vw 0 3vw;
    width: 60vw;
}

.achvmt-img {
    max-width: 100%;
    height: auto;
    padding-bottom: 3vh;
}

#vid-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 85%;
    padding: 2vh 5vw 2vh 7vw;
}

#contact-us {
    background-color: #32312D;
}

.contact-text {
    color: white;
    padding: 2vh 0 2vh 2vw;
    font-size: 30px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
}

.fa-youtube {
    background: red;
    color: white;
}

#social-media figure {
    display: flex;
    flex-direction: row;
    padding: 0 12vw 5vh 0;
}
  
.social-text {
  color: white;
  padding: 2vh 0 1vh 1vw;
  font-size: 25px;
}

#social-media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.questions {
    padding: 0 0 4vh 0;
}

label {
    color: white;
    font-size: 22px;
}

#contact-no {
    margin: 0 0 0 8px !important;
    width: 20vw;
    height: 3vh;
}

.form-textbox {
    width: 20vw;
    height: 3vh;
    margin: 0 0 0 50px;
}

#comment {
    width: 50%;
    resize: vertical;
    height: 80px;
    margin: 0 0 0 12px;
}

::placeholder {
    font-size: 20px;
}

#submit {
    width: 5vw;
}

#form {
    padding-bottom: 2vh;
}
